
<main>

  <body>
    <div id="profile" class="container-1">
      <!-- Existing content for the profile section -->
      <div class="profile_pic">
        <img src="assets/profile1.jpeg" alt="ProfilePicture1">
      </div>
      <div class="allText">
        <div class="text1">
          <h1>Hi, I'm Tatiana M. Kawaguti</h1>
        </div>
        <div class="text2" id="typed-text">
          <h3></h3>
        </div>
        <div class="text3">
          <p>I was born and raised in Brazil, but I recently moved to Canada to embark on a new adventure.
            I believe in the positive impact that technological tools can have, which motivates me to continue learning
            and growing in this field.</p>
        </div>
        <div class="buttons">
          <button (click)="scrollToSection('about-me')">About Me</button>
          <button (click)="downloadCV()">Download CV</button>
        </div>
      </div>
    </div>

    <div class="container-2">
      <ul class="list-icons">
        <li>
          <a href="https://github.com/midorikawaguti" target="_blank">
            <i class="bi bi-github fa-2x text-secondary m-3"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/tatiana-midori-uemura-kawaguti-6865b5120/" target="_blank">
            <i class="bi bi-linkedin fa-2x text-secondary m-3"></i>
          </a>
        </li>
        <li>
          <a href="mailto:midori.kawaguti@gmail.com">
            <i class="bi bi-envelope-fill fa-2x text-secondary m-3"></i>
          </a>
        </li>
      </ul>
    </div>


    <div id="about-me">
      <app-about-me-page></app-about-me-page>
    </div>

    <div id="projects">
      <app-projects-page></app-projects-page>
    </div>
  </body>
</main>


<div class="home">

  </div>
