.profile_pic {
  align-items: end;
}

img{
  width: 70%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 120px;

}

.container-1{
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.allText{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
}


.text1{
  font-size: 80px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: var(--darkColor);
  text-align: center;
  font-family: monospace;
}

.text2{
  font-size: 60px;

  color:var(--darkThreeColor);
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.text3{
margin: 0px 50px 0px 20px;
font-size: 20px;
color:#0f1410;
text-align: left;
font-size: 120%;
}


.text4 {
  margin: 20px;
  padding: 20px;
  font-size: 120%;
  color: #0f1410;
  text-align: right;
}

  .section-title{
    text-align: right;
    margin-right: 200px;
    padding: 20px;
    background-color: var(--darkThreeColor);
  }

/* ICONS */
.container-3{
  margin-top: 20px;
}
.list-icons{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  justify-content: space-around;
}

.list-icons>*{
  list-style-type: none;
}

@media (max-width: 590px) {

  .container-1{
    display: flex;
    flex-direction: column;
  }
  img{
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .text1, .text2, .text3, .text4{
    font-size: 80%;
  }

}
