*{
  margin:0;
  padding: 0;
}


.picture1{
  width: 85%; /* Make the div width 100% of its parent */
  height: auto; /* Set the div height to 100% of viewport height */
  margin-top: 20px; /* Add space on the top */
  margin-left: 20px; /* Add space on the left */
}

.grid-container-1{
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 20px;
}

.allText{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
}


@media (max-width: 590px) {
  .picture1{
    max-width: 80%;
    /* width: 100%; */
    height: auto;
    display: block;
  }
  .grid-container-1{
    display: flex;
    flex-direction: column;
  }
}


.text1{
  font-size: 80px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #050f0b;
  text-align: center;
  font-family: monospace;
}

.text2{
color:#237c3c;
font-size: 40px;
font-weight: 700;
text-align: center;
}

.text3{
margin: 20px 50px 50px;
font-size: 18px;
color:#0f1410;
text-align: justify;
font-size: medium;
}

.list-icons{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  justify-content: space-around;
}

.list-icons>*{
  list-style-type: none;
}


a:hover{
  cursor: pointer;
}

