
<h1 class="header">About Me</h1>

<ul>
  <li *ngFor="let item of project">
    <a routerLink="/projects/{{item.id}}">
      <img [src]="item.imageUrl" [alt]="item.name" />
      <div class="content">
        <div class="name">
          {{item.name}}
        </div>



        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let tag of item.tags">
              {{tag}}
            </span>
          </div>
        </div>

      </div>
    </a>
  </li>
</ul>

