ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a{
  height: 22.5rem;
  width: 20rem;
  border: 1px solid rgb(231, 224, 224);
  border-radius: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--darkTwoColor)
}

li a img{
  object-fit: cover;
  height: 14.5rem;
}

.content{
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}


.project-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.technologies{
  flex: 9;
}

.technologies span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}


.section-title {
  color: var(--darkThreeColor);
  padding: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.text{
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
