header{
  position: relative;
  background: white;
  padding: 10px;
  border-bottom: 1px solid #296028;
}

.navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

a{
  color: #526751;
}

a:hover{
  background: #E0F6DC;
  color: rgb(22, 72, 9);
  cursor: pointer;
}


a.logo{
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10%;
  transition: background-color 0.3s;
}

.image-detail{
  height:50px;
  width: auto;
}



ul{
  display: flex;
  gap: 2 rem;
  list-style-type:none;
  flex-wrap: wrap;
}


li{
  padding: 0.5rem 1rem;
  border-radius: 5%;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #E0F6DC;
}








