
<header>
  <div class="navbar">
    <a routerLink="/" class="logo">
      <img class="image-detail" src="../assets/image-detail.png" alt="detail-logo"/>
      <h2 class="text-logo">My Web</h2>
    </a>
    <nav>
      <ul>

        <li>
          <a routerLink = "/aboutMe">About me</a>
        </li>

        <li>
          <a routerLink="/projects-page">Projects</a>
        </li>

        <li>
          <a routerLink = "/contact">Contact</a>
        </li>

      </ul>
    </nav>
  </div>
</header>
