.navbar{
  position: relative;
  padding: 10px;
  border-bottom: 1px solid var(--darkColor);
}

.image-detail{
  height:50px;
  width: auto;
}


ul{
  display: flex;
  justify-content:space-between;
  gap: 3rem;
  flex-wrap: wrap;

  align-items: center;
}

li{
  font-size: 20px;
  padding: 0.5rem;
}










