<h1 class="section-title">Let's Connect!</h1>
<div class="images-container">
  <div class="connect-image">
    <img src="assets/journal-team-of-people-climbing-up-stairs-together.png" alt="People climbing together" />
  </div>
  <div>
    <img src="assets/lamp-icon.jpg" alt="lamps" />

    <div class="icons">
      <ul class="list-icons">
        <li>
          <a href="https://github.com/midorikawaguti" target="_blank">
            <i class="bi bi-github fa-2x text-secondary m-3"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/tatiana-midori-uemura-kawaguti-6865b5120/" target="_blank">
            <i class="bi bi-linkedin fa-2x text-secondary m-3"></i>
          </a>
        </li>
        <li>
          <a href="mailto:midori.kawaguti@gmail.com">
            <i class="bi bi-envelope-fill fa-2x text-secondary m-3"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


