
/*    ICONS    */
.list-icons{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  justify-content: space-around;
}

.list-icons>*{
  list-style-type: none;
}

a:hover{
  cursor: pointer;
}


/*    FORM    */
div {
  padding: 20px;
}

form{
  background-color: #E0F6DC;
  padding: 20px;
  border-radius: 10px;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border-style: none;
}

input[type=text]:focus {
  color: #237c3c;
}

textarea[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border-style: none;
}


.header {
  color: #082a1c;
  padding: 20px;
  text-align: center;
  font-family: monospace;
}
